<div class="">
  <div class="side">
    <div class="side--title">
    <a>test-group</a>
    </div>
    <div class="side--contents">
      <div class="side--contents-groupname">test-group</div>
      <div class="side--contents-message">hello!</div>
    </div>
  </div>


  <div class="main">
    <div class="main-header">
      <h3>text-group</h3>
      <a href="#">Edit</a>
    </div>
    <div class="main--contents">
      <h3>text-user</h3>
      <p>こんにちは</p>

    
    </div>
    <div class="main--message">
      <form>
      <input type="text" name="text">
      <input type="submit" name="submit" value="送信">
      </form>
    </div>
      
  
  </div>











<div>
